.img-btn {
    height: 200px;
    width: 200px;
    background-color: transparent;
    border: solid bisque, 2px;
    border-radius: 400px;
    padding: 10px;
    margin-left: 100px;
    box-shadow: 10px 10px white;
    cursor: pointer;
}

body {
    background-color: black;
}

.img-btn:hover{
    height: 300px;
    width: 300px;
    background-color: transparent;
    border: solid, white 2px;
    border-radius: 400px;
    padding: 10px;
    margin-left: 40px;
    background-color: white;
    box-shadow: 10px 10px bisque;
    cursor: pointer;
}

.p-heading {
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    margin-left: 400px;
    color: rgb(192, 75, 95);
}

.p-heading2 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: white;
}

img {
    height: 100px;
    width: 100px;
}

.img-result {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}


.img-result:hover {
    height: 60px;
    width: 60px;    
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 10px 10px rgb(31, 30, 30);
}



